<div class="container bg-primary text-white p-5">
  <h1>Hola, me llamo {{name}} esta es mi app </h1>
  <h1> Name:{{name}}</h1>
  <h1>Dir:{{direccion}}</h1>
  <h1>Edad:{{edad}}</h1>
  <h1>Altura:{{altura}}</h1>
  <h1>Estado:{{estado}}</h1>
 <h1>{{frutas}}</h1>
  <h1>{{fruta.color}}</h1>
  <h1>{{fruta.nombre}}</h1>
  <h1>{{fruta.precio}}</h1>

  <button (click)="masUno()">Sumar Edad más 1</button>
  <button (click)="cambairEstado()">Cambia Estado</button>

  @if (edad >=18) {
    <h1>Mayor de Edad</h1>
  } @else {
    <h1>Menor de Edad</h1>
  }
   @for (fruta of frutas; track fruta) {
    <h2>{{fruta}}</h2>
   }
   @for (nota of notas; track nota) {
    <h2><strong>{{nota}}</strong></h2>

   }
  <!-- <h1>{{}}</h1>
  <h1>{{}}</h1>
  <h1>{{}}</h1> -->
</div>
